.container button {
    background-color: #c20000;
    box-shadow: 0.1rem 0.1rem 0.7rem #5e5e5e, -0.1em -0.1rem 0.7rem #5e5e5e;
    color: white;
    font-size: 1.5rem;
    border: none;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
}

/* form{
    font-size: 0.9rem;
    width: 70vw;
} */

.title input {
    margin: 0.2rem;
    padding: 0.2rem;
    width: 20vw;
    height: 1.5rem;
    background-color: #e9e9e9;
    border: none;
    border-radius: 1em;
    /* border: 0.1rem solid rgb(170, 170, 170); */
    font-style:normal;
}

.options {
    margin: 0.6rem;
    padding: 0.6rem;
    width: 24vw;
    /* height: 1.5rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 0.1rem solid black; */
    background-color: #e9e9e9;
    border: none;
    border-radius: 1em;
}
.optionsTitle {
    width: 16vw;
    /* padding-top: 0.5rem; */
    display:flex;
    
    align-items: baseline;
    justify-content:space-evenly;

}
.optionsGroup {
    border: 0.1rem solid white;  
    border-radius: 1em;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    width: 20vw;
    margin: 0.3rem;
    padding: 0.3rem;
}
.action select {
    margin: 0.6rem;
    padding: 0.6rem;
    width: 20vw;
    /* height: 1.5rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 0.1rem solid black; */
    background-color: #e9e9e9;
    border: none;
    border-radius: 1em;

}
.description {
    display:flex;
    flex-direction: column;
    border-radius: 1em;
}

.description textarea{
    border: 0.1rem solid #e9e9e9;
    border-radius: 1em;   
    }

@media screen and (max-width: 720px){

    .tittle input{
        width: 50vw;
    }

    .container button {
        bottom: 2rem;
        right: 2rem;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }

    .options {
        width: 65vw;
    }

    .optionsTitle {
        width: 60vw;
    }

    .title input {
        width: 60vw;
    }
    
    .optionsGroup {
        width: 60vw;
        font-size: 0.8rem;
    }

    .action select {
        width: 50vw;
        font-size: 0.8rem;
    }
}